

.register-form{
  display: flex;
  flex-flow: column nowrap;
  background: #88B06A;
  border: 3px solid #00313D;
  box-sizing: border-box;
  width: 600px;
  height: 300px;
  margin: 30px;
  padding: 15px;
}

.outlined-required{
display: flex;
align-content:space-around;
}