

.register-form{
  display: flex;
  flex-flow: column nowrap;
  background: #88B06A;
  border: 3px solid #00313D;
  box-sizing: border-box;
  width: 600px;
  height: 300px;
  margin: 30px;
  padding: 15px;
}

.outlined-required{
display: flex;
align-content:space-around;
}

.register-button > button{
  font-size: 22px;
  height: 40px;
  width: 200px;
  margin-top: 40px;
  background-color: white;
  color:black;
  border: none;
  /* box-shadow: 2px 2px 10px 2px #CECECE; */
  box-shadow: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.6em 1em;
  border-radius: 3px;
}